.available-devices {
    padding: 5.6vw; 

    h2 {
        text-align: center;
    }

    &__list {
        display:grid;
        gap: 24px;
        grid-template-columns: repeat(4, 1fr);
        margin-top: 80px;
        text-align: center;

        @media (max-width: 767px) {
            grid-template-columns: repeat(2, 1fr);
        }



        &__item {
            list-style-type: none;

            li  {
                list-style-type: none;
            }

            h4 {
                text-align: center;
                margin-top: 20px;
                margin-bottom: 24px;
            }
            img {
                max-width: 100%;
            }
        }
    }
}